<?php
require_once "vendor/autoload.php";
session_start();

$options = [
    'client_id' => '1234abcd',
    'client_secret' => '1234abcd',
    'redirect_uri' => 'https://twitch.echtkpvl.de/login.php',
    'scope' => [
        'user_read',
        'channel:moderate',
        'chat:edit',
        'chat:read',
    ],
];

function checkLogin($twitchApi){
    if(empty($_SESSION['access_token'])){
        header("Location: /login.php");
        die;
    } else {
        $user = $twitchApi->getAuthenticatedUser($_SESSION['access_token']);
        if(empty($user['_id'])){
            header("Location: /logout.php");
            die;
        }
    }

    return true;
}
